
<div class="centering">
 <form>
<label for="hoursInput">Enter number of hours:</label>
<input type="number" id="hoursInput" min="0" required>
<br>
<label>Hourly rate:</label>
<input type="text" id="hourlyRate" value="$25" readonly>
<br>
<button type="button"id="calculateBtn">Calculate Total</button>
<br>
<label>Total:</label>
<output id="totalOutput"></output>
</form>
</div>