<body>

        <main>

                
            <!-- <figure>

                <figcaption>Food being served</figcaption>
              </figure> -->
            <article class="panel">
                <div class="text-wrapper left">
                    <h2>Why football</h2>
                    <!-- <img src="security.png">
                    <img src="CNAME.png"> -->

                    <p>
                        Football isn't just a game; it's a passion that unites us all. From childhood games to thrilling matches, it's been a lifelong connection. It brings excitement, teaches teamwork, and offers an escape. Each goal, pass, and play fills me with adrenaline. Football isn't just a sport; it's part of who I am, shaping my life with joy and lessons in perseverance.
                    </p>
                    <a class="button">
                        I made a cool animation
                        <svg viewBox="1.2 2.1 22 21">
                            <path d="M11.704 22.098a1.48 1.48 0 01-1.02-.386 1.38 1.38 0 01-.413-.996c0-.375.146-.721.415-.978.411-.397 5.078-4.857 6.494-6.21H2.706c-1.035 0-1.506-.726-1.506-1.4 0-.679.471-1.406 1.506-1.406h14.472c-1.42-1.353-6.02-5.736-6.497-6.213-.292-.291-.445-.635-.442-.996a1.37 1.37 0 01.447-.975c.501-.479 1.354-.681 2.037.003.561.56 9.765 9.334 9.856 9.423l.173.163-.172.162c-.093.09-9.407 8.985-9.86 9.422-.264.258-.639.387-1.016.387">
                            </path>
                        </svg>
                    </a>
                </div>
                <div class="image-wrapper">
                    <img src="img/jude.webp" alt="A table of people serving food" width="676" height="418">
                </div>
            </article>

            <article class="panel">
                <div class="text-wrapper">
                    <h2>My idol!</h2>

                    <p>
                        Alexis Sanchez made me love football. As every little Chilean boy, he was my idol growing up. Seeing him succeed in the greatest teams of Europe was spectacular! Until Manchester United destroyed his career as the joke of a club they are.
                    </p>
                    <a class="button">
                        More Information
                        <svg viewBox="1.2 2.1 22 21">
                            <path d="M11.704 22.098a1.48 1.48 0 01-1.02-.386 1.38 1.38 0 01-.413-.996c0-.375.146-.721.415-.978.411-.397 5.078-4.857 6.494-6.21H2.706c-1.035 0-1.506-.726-1.506-1.4 0-.679.471-1.406 1.506-1.406h14.472c-1.42-1.353-6.02-5.736-6.497-6.213-.292-.291-.445-.635-.442-.996a1.37 1.37 0 01.447-.975c.501-.479 1.354-.681 2.037.003.561.56 9.765 9.334 9.856 9.423l.173.163-.172.162c-.093.09-9.407 8.985-9.86 9.422-.264.258-.639.387-1.016.387">
                            </path>
                        </svg>
                    </a>
                </div>
                <div class="image-wrapper left">
                    <img src="img/malexis.jpg" alt="Alexis y la copa america">
                </div>
            </article>

        </main>
        <aside>
            <h2> Here are some of my favorite football moments</h2>
            <p>
                Drinking water and eating salads are important for maintaining overall health. Water helps keep the body hydrated
                and functioning properly, while salads provide essential vitamins, minerals, and fiber. Both can aid in weight
                management and promote well-being.
            </p>
        </aside>
        <section class="cards">
            <a href="https://www.youtube.com/watch?v=yYRMNT7p6p4" class="card">
                <img src="img/shile1.jpg" width="500" height="500" alt="Claudiomerica trophy">
                <h2>Copa America '16</h2>
            </a>
            <a href="https://www.youtube.com/watch?v=2jrcndaXKJI" class="card">
                <img src="img/madrid1.jpg" width="500" height="500" alt="Marcelo with the UCL">
                <h2>UCL 2022</h2>
            </a>
            <a href="https://www.youtube.com/watch?v=9byEDLa-fRQ" class="card">
                <img src="img/tsile.jpg" width="500" height="500"
                     alt="mouth watering, delicious, incredible, marvelous, great, hermoso, chicken">
                <h2>Copa America '15'</h2>
            </a>
            <a href="https://www.youtube.com/watch?v=sz0X1xoBHgM" class="card">
                <img src="img/iker.jpg" width="500" height="500" alt="tacos">
                <h2>UCL 2014</h2>
            </a>
        </section>
        <</body>
      